/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

:root {
	--desktop-height: 24px;
	--mobile-height: 24px;
}

.wp-block-elpuasdigitalcrafts-spacerify {
	height: var( --mobile-height );

	@media screen and (min-width: 768px) {
		height: var( --desktop-height );
	}
}
